<!--The content below is only a placeholder and can be replaced.-->

<div class="main-div">
  <div class="left-half col-md-6">
  <ul class="sliders">
    <li>
        <h4 class="title-header">Buy Amount</h4>
        <mat-slider min="1" max="250" step="1" [(ngModel)]="roiModel.BuyAmount" (change)="CalculateROI()" tickInterval="25"></mat-slider>
        <mat-form-field class="">
          <input type="number" matInput [(ngModel)]="roiModel.BuyAmount" min="1" max="250" (blur)="CalculateROI()">
        </mat-form-field>
    </li>
    <li>
        <h4  class="title-header">Buy Stage</h4>
        <mat-slider min="0" max="8" step="1" [(ngModel)]="sliderBuyStage" (change)="BindBuyStageInput()" tickInterval="1"></mat-slider>
        <mat-form-field class="">
          <input type="number" matInput [(ngModel)]="inputBuyStage" min="0" max="50" (blur)="BindBuyStageSlider()">
        </mat-form-field>
    </li>
    <li>
        <h4  class="title-header">Hold Period</h4>
        <mat-slider min="1" max="36" step="1" [(ngModel)]="roiModel.HoldPeriod" (change)="CalculateROI()" tickInterval="3"></mat-slider>
        <mat-form-field class="">
          <input type="number" matInput [(ngModel)]="roiModel.HoldPeriod" min="0" max="36" (blur)="CalculateROI()">
        </mat-form-field>
    </li>
  </ul>
  <div class="left-total-value"><span>Total Value in XYZ : </span><span class="total-value">{{roiModel.TotalValue}}</span></div>
</div>
<div class="right-half col-md-6">
   <app-pie-chart [POPULATION]="pieData"></app-pie-chart>
  <ul class="list">
    <li>
        <div class="item">
            <div class="total-square"></div>
            <div class="text-label header">Total Value in XYZ</div>
        </div>
        <div class="colon">:</div>         
        <div class="text-label value">{{roiModel.TotalValue}}</div>
    </li>
    <li>
        <div class="item">
          <div class="return-square"></div>
          <div class="text-label header">Returns Obtained</div>
        </div>
        <div class="colon">:</div> 
        <div class="text-label value">{{roiModel.ReturnsObtained}}</div>
    </li>
    <li>
        <div class="text-label header">Total Assets</div>
        <div class="colon last">:</div>          
        <div class="text-label value">{{roiModel.TotalAssets}}</div>
    </li>
  </ul>
  <div class="center">
    <button mat-raised-button (click)="apply()">Apply Now</button>
  </div>
  
</div>
</div>
<div>
  <!-- <div *ngIf="message" class="msg">
    {{message}}
  </div> -->
  <div>
      <mat-form-field class="input-email">
        <input type="email" placeholder="email id" matInput [(ngModel)]="MailId" [email]="true">
      </mat-form-field>
      <button mat-raised-button class="mail-btn" (click)="mail()" [disabled]="!MailId">Mail Values</button>
    </div>
</div>