.main-div mat-slider{
    width:75%;
}
.main-div .right-half{
    width:40%;
    display: inline-block;
    padding: 0 0 0 50px;
    position: absolute;
}
.main-div .left-half{
    width: 45%;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.sliders{
    list-style: none;
    padding-left:40px;
}
.title-header{
    background-color:#03036b;
    padding: 10px;
    border-radius: 11px;
    color: white;
    max-width: 250px;
    font-weight: normal;
    text-align: center;
}
.left-total-value{
    background-color: #03036b;
    padding: 12px;
    border-radius: 11px;
    color: white;
    max-width: 545px;
    margin-left: 45px;
}
.left-total-value .total-value{
    position: relative;
    left: 285px;
    color: black;
    background: white;
    padding: 5px 20px;
    border-radius: 15px;
}
.center{
    text-align: center;
}
/* .values-div{
    text-align: center;
} */
.list{
    list-style: none;
}
.list li{
    padding:6px;
}
.list .value, .list .text-label{
    background-color: #03036b;
    padding: 6px;
    border-radius: 11px;
    color: white;
    max-width: 250px;
    font-weight: normal;
    display: inline;
}
.left{
    float: left;
}
.right{
    float: right;
}
.values-div .labels, .item{
    display: inline;
}
.main-div{
    padding-top: 10px;
}
.total-square, .return-square{
    height: 20px;
    width: 20px;
    display: inline-block;
    top: 10px;
    position: relative;
}
.total-square{
    background-color: #fd9533;
}
.return-square{
    background-color: #7491f1;
}
.text-label.header, .text-label.value{
    position: absolute;
    padding: 6px;
    text-align: center;
}
.text-label.value{
    width:150px;
    right:0;
}
.text-label.header{
    width:250px;
}
.colon{
    display: inline;
    position: relative;
    left: 250px;
}
.colon.last{
    left:270px;
}
.item .text-label{
    width: 220px;
    left: 125px;
}
.input-email{
    position: relative;
}
.msg{
    margin: 0px 67px;
    color: gray;
    background: lightblue;
    width: 520px;
    border-radius: 20px;
    padding: 10px;
}
.mail-btn{
    left: 70px;
}