.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}
.title-header{
    background-color:#03036b;
    padding: 10px;
    border-radius: 11px;
    color: white;
    max-width: 250px;
    font-weight: normal;
}
.graph{
    position: relative;
    left: 25%;
}