/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-form-field-wrapper{
    width: 50px;
}
.mat-slider-thumb{
    bottom: -16px !important;
    width: 25px !important;
    height: 25px !important;
}
.mat-slider-horizontal .mat-slider-ticks{
    height:10px !important;
}
.mat-slider-horizontal .mat-slider-ticks-container{
    height:10px !important;
}
.mat-slider-horizontal .mat-slider-track-fill{
    height: 10px !important;
}
.mat-slider-horizontal .mat-slider-track-background{
    height: 10px !important;
}
.mat-slider-horizontal .mat-slider-track-wrapper{
    height:10px !important;
}
.mat-raised-button{
    background-color: #fd9533;
}
.mat-form-field{
    left: 70px;
}
.input-email .mat-form-field-wrapper{
    width:300px;
}